/*--General--*/

body {
    background-color: rgb(119, 136, 153);
}

h2 {
    color: rgb(255, 0, 0);
}

.row {
    padding: 10px 0;
}

/*--Header--*/

.navbar--color {
    background-color: rgb(0, 46, 24);
    margin-bottom: 10px;
}

a {
    color: rgb(253, 151, 17);
    text-decoration: none;
    background-color: transparent;
    padding: 8px;
}

nav a:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

/*--Information--*/

.fuerte {
    width: 50vw;
    height: 50vw;
    float: left;
    padding-right: 15px;
}

.information-container {
    padding-top: 70px;
    padding-left: 0;
}

/*-- Request Form --*/

.form-request-heading {
    margin: 20px 0;
}

.form-request-center {
    padding: 10px 0;
    margin: 0 auto;
    max-width: 50%;
}

button[type=submit] {
    background-color: rgb(0, 46, 24);
    color: rgb(253, 151, 17);
    margin: 10px 0;
    border: solid 1px;
}

/*--Popular Cities--*/

.popular-heading {
    padding-top: 70px;
}

div#corralejo-map {
    min-height: 360px;
}

div#castillo-caleta-de-fuste-map {
    min-height: 360px;
}

div#costa-de-antigua-map {
    min-height: 360px;
}

div#morro-jable-map {
    min-height: 360px;
}

div#el-cotillo-map {
    min-height: 360px;
}

div#puerto-del-rosario-map {
    min-height: 360px;
}

div#playa-jandia-map {
    min-height: 360px;
}

.popular-cities-text {
    font-size: 20px;
    text-align: center;
}

/*--Carousel--*/

* {
  box-sizing: border-box;
}

.carousel-container {
  position: relative;
}

.my-pictures {
  display: none;
  text-align: center;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 16px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 11%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*--Footer--*/

footer {
    color: rgb(253, 151, 17);
    background-color: rgb(0, 46, 24);;
    min-height: 100px;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.social-links {
    padding-bottom: 10px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    color: rgb(253, 151, 17);
    transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

.social-links li a i:hover {
    color: rgb(255, 0, 0);
}